In [1]:
import mysql.connector
import pandas as pd

In [2]:
sql_enggine = mysql.connector.connect(
    host= "localhost",
    port=3306,
    user='root',
    password="abcde12345",
    database="employees"
)

In [ ]:
cursor = sql_enggine.cursor()
query = "select * from employees"
cursor.execute(query)
result = cursor.fetchall()

df = pd.DataFrame(result, columns = cursor.column_names)
df

        emp_no  birth_date first_name     last_name gender   hire_date
0        10001  1953-09-02     Georgi       Facello      M  1986-06-26
1        10003  1959-12-03      Parto       Bamford      M  1986-08-28
2        10004  1954-05-01  Chirstian       Koblick      M  1986-12-01
3        10005  1955-01-21    Kyoichi      Maliniak      M  1989-09-12
4        10008  1958-02-19     Saniya      Kalloufi      M  1994-09-15
...        ...         ...        ...           ...    ...         ...
179967  499993  1963-06-04   DeForest  Mullainathan      M  1997-04-07
179968  499996  1953-03-07       Zito          Baaz      M  1990-09-27
179969  499997  1961-08-03    Berhard        Lenart      M  1986-04-21
179970  499998  1956-09-05   Patricia       Breugel      M  1993-10-13
179971  499999  1958-05-01     Sachin       Tsukuda      M  1997-11-30

[179972 rows x 6 columns]

In [ ]:
# Pengolahan filter
df[df['gender']=='M']

        emp_no  birth_date first_name     last_name gender   hire_date
0        10001  1953-09-02     Georgi       Facello      M  1986-06-26
2        10003  1959-12-03      Parto       Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian       Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi      Maliniak      M  1989-09-12
7        10008  1958-02-19     Saniya      Kalloufi      M  1994-09-15
...        ...         ...        ...           ...    ...         ...
300016  499993  1963-06-04   DeForest  Mullainathan      M  1997-04-07
300019  499996  1953-03-07       Zito          Baaz      M  1990-09-27
300020  499997  1961-08-03    Berhard        Lenart      M  1986-04-21
300021  499998  1956-09-05   Patricia       Breugel      M  1993-10-13
300022  499999  1958-05-01     Sachin       Tsukuda      M  1997-11-30

[179972 rows x 6 columns]